# URL de Conexão com o Banco de Dados Local (DBeaver/PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/school_dashboard_db?schema=public"

# Credenciais Públicas do Provedor de Arquivos na Nuvem (Supabase)
NEXT_PUBLIC_SUPABASE_URL="https://supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sua-chave-anon-public-aqui"

# Credenciais do Provedor de Autenticacao (NextAuth)
NEXTAUTH_SECRET="sua-chave-secreta-aleatoria-de-criptografia-aqui"
NEXTAUTH_URL="http://localhost:3000"
